<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="content-container">
    <div class="container">
        <div class="row col-12">
            <div class="row col-12">
                <h1>Wishlist</h1>2
            </div>
            <div class="row col-md-12">
                <div class="row col-md-12 list-header-row">
                    <div class="col-md-3">Name</div>
                    <div class="col-md-3">Created</div>
                    <div class="col-md-3">URL link</div>
                    <div class="col-md-1">Price</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>
                <div th:each="gift : ${gifts}" class="row col-md-12 list-data-row">
                    <div class="col-md-3" th:text="${gift.getName()}"></div>
                    <div class="col-md-3" th:text="${gift.getDateAdded()}"></div>
                    <div class="col-md-3" th:text="${gift.getURL()}"></div>
                    <div class="col-md-1" th:text="${gift.getPrice()}"></div>
                    <div class="col-md-1">
                        <a th:href="@{/gift/edit}">
                            <button type="button" class="btn btn-warning">Edit
                            </button>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a th:href="@{/gift/delete}">
                            <button type="button" class="btn btn-danger">Delete
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="row col-md-12 list-header-row">
                    <div class="col-md-12" align="center">
                        <a th:href="@{/gift/add}">
                            <button type="button" class="btn btn-primary">Add gift
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>