<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Your Events</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="content-container">
    <div class="container">
        <div class="row col-12">
            <div class="row col-12">
                <h1>Yours events:</h1>
            </div>
            <div class="row col-md-12">
                <div class="row col-md-12 list-header-row list-group-item-primary">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-2">Created</div>
                    <div class="col-md-2">Start</div>
                    <div class="col-md-2">DrawTime</div>
                    <div class="col-md-2">MaxPrice</div>
                    <div class="col-md-2">Create By</div>
                </div>

                <div th:each="holidayEvent : ${holidayEvents}" class="row col-md-12 list-data-row list-group-item list-group-item-action" >
                    <a th:href="@{'/holidayevent/singleView/'+${holidayEvent.getId()}} " class="row col-md-12" >
                        <div class="col-md-2" th:text="${holidayEvent.getName()}"></div>
                        <div class="col-md-2" th:text="${holidayEvent.getDateAdded()}"></div>
                        <div class="col-md-2" th:text="${holidayEvent.getEventDate()}"></div>
                        <div class="col-md-2" th:text="${holidayEvent.getDrawDate()}"></div>
                        <div class="col-md-2" th:text="${holidayEvent.getGiftMaxPrice()}"></div>
                        <div class="col-md-2" th:text="${holidayEvent.getCreator().getUsername()}"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>